<%- include('includes/header') %>
<header class="header clearfix">
    <div class="admin-logo-box">
        <div class="admin-logo-box__title">AMC <span class="admin-logo-box__title--sub">Vacation Rentals</span></span></div>
        <div class="admin-logo-box__title--notifications">Administration > <span id="titleMessage">Welcome <%= adminName %></span></div>
        <% if (adminTitleMessage.length > 0) {%>
        <span class="u-ml-small alert alert-success alert-success__admin show-alert" id="alertMessage">
                <%= adminTitleMessage %>
        </span>
        <% } else {%>
            <span class="u-ml-small alert alert-success alert-success__admin" id="alertMessage">
                    <%= adminTitleMessage %>
            </span>
            <% } %>
    </div>
</header>

<!-- ////////////////////// SIDE NAV ////////////////////// -->
<div class="sidenav clearfix" id="sidenav">
        <div class="sidenav__box">
            <ul class="sidenav__outer-menu">
                <li class="sidenav__title" id="users">Users
                    <ul class="sidenav__dropdown sidenav__dropdown--users">
                            <% usersArr.forEach((el) => { %>
                                <li id="userLinks"><a href="/user/<%= el._id %>/edit" data-id="<%= el._id %>"><%= el.username %></a></li>
                           <% })%>
                    </ul>
                </li>
                <li class="sidenav__title" id="homes">Homes
                    <ul class="sidenav__dropdown sidenav__dropdown--homes">
                            <% homesArr.forEach((el) => { %>
                                <li id="homesLinks"><a href="#" data-id="<%= el._id %>"><%= el.homeName %></a></li>
                           <% })%>
                    </ul>
                </li>
                <li class="sidenav__title" id="keepers">Keepers
                    <ul class="sidenav__dropdown sidenav__dropdown--keepers">
                            <% keepersArr.forEach((el) => { %>
                                <li id="keeperLinks"><a href="#" data-id="<%= el._id %>"><%= el.keeperName %></a></li>
                           <% })%>
                    </ul>
                </li>
            </ul>
                <div class="navigation__item navigation__item--admin">
                    <svg class="icon icon-cog"><use xlink:href="/img/sprite.svg#icon-cog"></use></svg> 
                    <ul class="navigation__nav--sub-menu navigation__nav--sub-menu--admin">
                        <li class="u-border-bottom-wht"><a href="/">HOME</a></li>
                        <li><a href="/logout">Logout</a></li>
                    </ul>
                </div>
        </div>
</div>
<!-- //////////////////////  END SIDE NAV ////////////////////// -->    
<main>
<section class="section section-users" id="section-users">
    <div class="row">
            <div class="admin__title">Add New User</div>
            <div class="user-form__container">
                <form action="/admin/registerUsers" method="POST" class="user-form u-center" id="adminUsersEdit-form">
                    <div class="row">
                        <div class="col-2-of-4 u-no-margin-right u-right">
                            <div style= "position: relative;">
                                <label for="username" class="heading-3 heading-3__admin-users heading-3__admin-users--username">Username</label><br />
                                <label for="password" class="heading-3 heading-3__admin-users heading-3__admin-users--password">Password</label>   
                            </div>            
                        </div>
                        <div class="col-2-of-4">
                                <input type="text" id="admin-username" class="user-form__input u-mb-small" name="username" placeholder=""> 
                                <input type="text" id="admin-password" class="user-form__input" name="password" placeholder="">
                                <input type="hidden" id="hiddenIdField" value="">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-2-of-4 u-no-margin-right u-right">
                                <div class="u-mr-small heading-3 heading-3__admin-users">HOMES</div>
                        </div>
                        <div class="col-2-of-4">
                            <!-- this should be a loop with homesArr -->
                            <div class="user-form__checkbox-input" id="admin-homes">
                                <% homesArr.forEach((el) => { %>
                                    <input type="checkbox" name="checkBoxHomesArr" value="<%= el.homeName %>" class="home-checkbox" id="admin-<%= el.homeName %>">
                                    <label for="<%= el.homeName %>" class="label"><%= el.homeName %></label><br>
                                <% })%>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-2-of-4 u-no-margin-right u-right" id="admin-roles">
                                <div class="u-mr-small heading-3 heading-3__admin-users">role</div>
                        </div>
                        <div class="col-2-of-4">
                            <div class="user-form__radio-input">
                                <input type="radio" name="role" value="user" id="admin-userRole">
                                <label for="user" class="label">User</label><br>
                                <input type="radio" name="role" value="keeper" id="admin-keeperRole">
                                <label for="keeper" class="label">Keeper</label> <br>
                                <input type="radio" name="role" value="admin" id="admin-adminRole"> 
                                <label for="admin" class="label">Administrator</label><br>
                            </div>
                        </div>
                        
                    </div>
                    <div class="row">
                        <div style="position: relative;">
                            <button type="submit" id="userSubmitButton" class="btn btn__admin btn__admin--submit">ADD NEW</button>
                            <button type="submit" id="userDeleteButton" class="btn btn__admin btn__admin--delete u-hidden">DELETE</button>
                        </div>
                    </div>
                
                </form>
                
                
        </div> <!-- end user form -->
    </div>        
</section>

<section class="section section-homes u-hidden" id="section-homes">
    <div class="row">
        <h2 class="admin__title admin-top-margin u-mb-med"></h2>
        <div class="user-form__container">
            <form action="/admin/registerHomes" method="POST" class="user-form u-center" id="adminHomesEdit-form">
                <div class="row">
                        <div class="col-2-of-4 u-no-margin-right u-right">
                                <div class="u-mr-small heading-3 heading-3__admin-users u-mt-large">home image</div>
                        </div>
                        <div class="col-2-of-4 u-no-margin-right u-right">
                                <img src="/img/sunriver-sm.png" class="header-box__image u-float-left" name="homeURL" id="homeImage">
                        </div>
                </div>
                <div class="row">
                    <div class="col-2-of-4 u-no-margin-right u-right">
                        
                        <label for="homeUrl" class="u-mr-small heading-3 heading-3__admin-users u-mb-small--admin">Home Image Path</label>
                    </div>
                    <div class="col-2-of-4">
                            <input type="text" id="homeUrl" class="user-form__input u-mb-small" name="homeUrl" placeholder="">
                            
                    </div>
                </div>       
                <div class="row">
                    <div class="col-2-of-4 u-no-margin-right u-right">
                        <label for="homename" class="u-mr-small heading-3 heading-3__admin-users u-mb-small--admin">Home Name</label>
                    </div>
                    <div class="col-2-of-4">
                        <input type="text" id="homeName" class="user-form__input u-mb-small" name="homeName" placeholder="">
                    </div>
                </div>
                
                <div style="position: relative;">
                    <button type="submit" id="homeSubmitButton" class="btn btn__admin btn__admin--submit">ADD NEW</button>
                    <button type="submit" id="homeDeleteButton" class="btn btn__admin btn__admin--delete u-hidden">DELETE</button>
                </div>
            </form>
        </div>   
    </div> 
</section>

<section class="section section-keepers u-hidden" id="section-keepers">
    <div class="row">
            <h2 class="admin__title admin-top-margin u-mb-med"></h2>
            <div class="user-form__container">
                <form action="/admin/registerKeepers" method="POST" class="user-form u-center" id="adminKeepersEdit-form">
                    <div class="row">
                        <div class="col-2-of-4 u-no-margin-right u-right">
                            <div style= "position: relative;">
                                <label for="keeperName" class="heading-3 heading-3__admin-users heading-3__admin-users--username">Keeper name</label><br />
                                <label for="keeperPassword" class="heading-3 heading-3__admin-users heading-3__admin-users--password">Password</label>
                            </div>    
                        </div>
                        <div class="col-2-of-4">
                                <input type="text" id="keeper-username" class="user-form__input u-mb-small" name="keeperName" placeholder="">
                                <input type="text" id="keeper-password" class="user-form__input" name="keeperPassword" placeholder="">
                        </div>
                        
                    </div>
                    <div class="row">
                        <div class="col-2-of-4 u-no-margin-right u-right">
                                <div class="heading-3 heading-3__admin-users u-mr-small">HOME</div>
                        </div>
                        <div class="col-2-of-4">
                            <div class="user-form__radio-input" id="admin-homesKeepers">
                                    <% homesArr.forEach((el) => { %>
                                        <input type="radio" name="radioKeepersArr" value="<%= el.homeName %>" id="keeper-<%= el.homeName %>">
                                        <label for="<%= el.homeName %>" class="label"><%= el.homeName %></label><br>
                                    <% })%>
                            </div>
                        </div>
                    </div>
                    <div style="position: relative;">
                            <button type="submit" id="keeperSubmitButton" class="btn btn__admin btn__admin--submit">ADD NEW</button>
                            <button type="submit" id="keeperDeleteButton" class="btn btn__admin btn__admin--delete u-hidden">DELETE</button>
                        </div>
                
                </form>
        </div> <!-- end user form -->
    </div>    
</section>         
</main>
<%- include('includes/footer') %>


